{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link href="{% static 'components/login.css' %}" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">

</head>
<body>

    <div class="box-form">
        
        <div class="left">
            <div class="overlay">
                <h1> About </h1>
            </div>
        </div>

        <div class="right">
            <p> Paciente is a online companion facilitating trusted communication between </p>
            <p> patients, doctors, and various healthcare organizations. </p>
            <p> We ensure the highest levels of privacy, confidentiality and integrity of our use </p>
            <p> data, and constantly keep our guards up against malicious cyber criminals. </p>
        </div>
        
    </div>

</body>
</html>